*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a
{
    cursor: pointer;
}
input:focus
{
    outline: none;
}
.header
{
    margin-top: 15px;
}
body
{
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #1f1f1f;
}
.container
{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.row
{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}
.header-row
{
    height: 52px;
    align-items: center;
}
[class*="col-"]
{
    padding-left: 15px;
    padding-right: 15px;
}
.parent-menu
{
    position: relative;
    z-index: 99;
}
/* ========================== */

.tablet-menu>li>a>h3
{
    font-size: 14px;
    color: #1f1f1f;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.4px;
}

.tablet-menu>li
{
    width: 100%;
    margin-bottom: 20px;
    border-bottom: #899699 solid 1px;    
}
.tablet-menu>li>a>h3
{
    margin-bottom: 10px;
}
.tablet-menu>li>a
{
    text-decoration: none;
}

.tablet-menu 
{
    display: flex;
    position: absolute;
    top: 80px;
    right: 60px;
    flex-wrap: wrap;
    box-shadow: 0 12px 24px rgb(0 0 0 / 3%);
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    padding: 30px 30px 0px;
    width: 85%;

}
.tablet-menu *
{
    box-sizing: content-box;
}
.drop-down-menu1
{
    display: none;
}
.tablet-drop-menu a
{
    text-decoration: none;
    color: #1f1f1f;
    font-size: 16px;
    font-weight: 700;
}
.tablet-drop-menu h3
{
    margin-bottom: 10px;
    position: relative;
}
.arrow-down-icon
{
    position: absolute;
    top: -10px;
    right: 0;
}
.drop-down-tablet-menu
{
    display: none;
}
.clicked-arrow
{
    display: block;
}
.drop-down-tablet-menu li
{
    border-bottom: 1px solid #878b90;
    border-top: 1px solid #878b90;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}
.drop-down-tablet-menu h3
{
    color: #1f1f1f;
}
.drop-down-tablet-menu p
{
    color: #878b90;
    font-weight: 300;

}
/* ========================== */
.drop-down-menu
{
    display: none;
    position: absolute;
    top: 0;
}
.drop-down-menu>li>a>h3
{
    font-size: 14px;
    color: #1f1f1f;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.4px;
}
.drop-down-menu>li>a>h3:hover
{
    color: #1290a4;
}
.drop-down-menu>li>a>p
{
    color: #878b90;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.35px;
    line-height: 32px;
}
.drop-down-menu>li
{
    flex: calc(50% - 20px);
    max-width: calc(50% - 20px);
    margin-bottom: 20px;
}
.drop-down-menu>li:nth-child(odd)
{
    margin-right: 40px;
}
.drop-down-menu>li>a
{
    text-decoration: none;
}

.parent-menu:hover .drop-down-menu 
{
    display: flex;
    position: absolute;
    top: 20px;
    right: -380px;
    flex-wrap: wrap;
    min-width: 530px;
    box-shadow: 0 12px 24px rgb(0 0 0 / 3%);
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    padding: 30px 30px 0px;

}

.main-menu>ul 
{
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}
.main-menu>ul>li
{
    list-style-type: none;
}
.main-menu>ul>li>a , .sign-in>a
{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
.main-menu>ul>li>a:hover
{
    color: #1290a4;
}

/* POP UP MENU */

.pop-up-menu span:nth-child(1)
{
    top: 50%!important;
    transform: rotate(45deg);
}
.pop-up-menu span:nth-child(2)
{
    top: 50%!important;
    
    transform: rotate(-45deg);
}
.pop-up-menu span:nth-child(3)
{
    transform: scale(0);
}
/* ======== */
.subscription
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sign-in
{
    margin-right: 15px;
}
.get-started-btn
{
    border: none;
    border-radius:3px;
    width: 136px;
    height: 40px;
    background-color: #1290a4;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}
/* REGISTRATION ROW */
.registration-row
{
    padding-top: 115px;
    padding-bottom: 110px;
}
.registration-title
{
    line-height: 62px;

}
.registration-title>p
{
    font-size: 50px;
    color: #1f1f1f;
    font-weight: 700;
    letter-spacing: -5px;
}
.registration-description
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.registration-description>p
{
    font-size: 14px;
    line-height: 2;
    color: #1f1f1f;
    font-weight: 400;
}
.registration-form
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.registration-text-input
{
    margin-right: 10px;
    height: 60px;
    width: calc(100% - 187px);
    background-color: #e8f1f3;
    border: none;
    border-radius: 3px;
    padding-left: 20px;
}

.registration-button
{
    height: 60px;
    width: 177px;
    background-color: #1290a4;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: -1.12px;
    font-weight: 700;
}
.use-sign-in
{
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.32px;
    line-height: 36px;
    color: #878b90;
    margin-top:15px;
}
.use-sign-in>a
{
    text-decoration: none;
    color: #1290a4;
}
.use-sign-in>a:hover
{
    text-decoration: underline;
}
/* FEATURES */
.features-row
{
    flex-wrap: wrap;
    padding-top: 70px;
    padding-bottom: 120px;
    background-color: #eef4f5;

}
.shape
{
    background-color: #eef4f5;
    position: relative;
}
.shape-down
{
    background-color: #f8f8f8;
    position: relative;
}
.shape-img img
{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-85%);

}
.shape-down-img img
{
    width: 100%;
    position: absolute;
    bottom: -50px;
    left: 0;

}
.feature-title>p
{
    font-size: 48px;
    letter-spacing: -3px;
    line-height: 60px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 100px;
}
.feature-item
{
    padding: 35px;
    border-radius: 5px;
    border: 1px solid #d9e4e6;
    background-color: #ffffff;
}
.feature-icon
{
    background-color: #fef0f2;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
}
.feature-icon img
{
    vertical-align: middle;
}
.item-title
{
    color: #1f1f1f;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: -2px;
    line-height: 2;
}
.item-description>p
{
    letter-spacing: -0.4px;
    font-size: 17px;
    margin-bottom: 1rem;
    line-height: 28px;
}

/* CONTENT-SECTIONS */
.content-block
{
    background-color: #f8f8f8;

}
.content-row
{
    padding-bottom: 80px;
    padding-top: 120px;
    justify-content: center;
}
.content-title
{
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 1rem;
    margin-top: 4rem;
    font-weight: 700;
}
.content-description
{
    font-weight: 400;
    letter-spacing: -0.4px;
    font-size: 18px;
    line-height: 30px;
    color: #333333;
}
.content-description-border
{
    padding-top: 20px;
    border-top: 1px solid #e5e5e5;
    margin-top: 22px;
}
.content-description>p
{
    margin-bottom: 30px;
}
.how-it-works
{
    font-size: 17px;
    line-height: 28px;
    color: #666666;
}
.check-mark
{
    color: #1290a4;
    font-weight: 700;
}
.feature-btn
{
    letter-spacing: -1.12px;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: #1290a4;
}
.feature-arrow
{
    color: #1290a4;
    font-weight: 700;
    font-size: 18px;
}
.load-demo-btn
{

    min-width: 170px;
    width: 170px;
    height: 50px;
    border-radius: 3px;
    background-color: #f46f7c;
    text-decoration: none;
    text-align: center;
}
.load-demo-btn>a
{
    text-decoration: none; 
    background-color: #f46f7c;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -1.06px;
    line-height: 50px;
    color: #ffffff;
}
.dark-shape
{
    background-color: #30393b;
    position: relative;
}
.dark-shape img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-85%);
}
.toggle-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.toggle-btn p
{
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
}
.switch-btn
{
    width: 48px;
    height: 25px;
    border-radius: 34px;
    display: inline-block;
    background-color: #d9e4e6;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}
.slider-round-left
{
    height: 17px;
    width: 17px;
    background-color: #1290a4;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 18%;
    left: 10%;

}
.slider-round-right
{
    height: 17px;
    width: 17px;
    background-color: #1290a4;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 18%;
    right: 10%;
}

.pricing-row
{
    padding-top: 60px;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.pricing-title
{
    font-size: 48px;
    letter-spacing: -3px;
    line-height: 60px;
    font-weight: 700;
    color: #ffffff;
}
.pricing-description
{
    color:#878b88;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: -0.4px;
    line-height: 36px;
    padding-top: 20px;
}
.toggle-btn
{
    padding-bottom: 35px;
}
/* PRICING */
.pricing-row
{
    flex-wrap: wrap;
}
[class*="pricing-item-"]
{
    border-top: 5px solid transparent;
    border-radius: 6px;
    padding: 24px 45px 30px;
    background-color: #fff;
    margin-bottom: 30px;
}
.pricing-options , .pricing-mark
{
    text-align: start;
}
.pricing-item-2
{
    border-top: 5px solid #f46f7c;
    position: relative;
}
.pricing-mark>p
{
    color: #666666;
    font-family: 'Karla', sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.43px;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.item-badge
{
    position: absolute;
    top: 30px;
    right: 45px;
    background-color: #f46f7c;
    border-radius: 500px;
    height: 26px;
    color: #fff;
    width: 83px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.price
{
    letter-spacing: 0;
    font-weight: 700;
}
.hidden-price
{
    display: none;
}
.show-hidden-price
{
    font-size: 60px;
}
.dollar
{
    font-size: 34px;
}
.visible-price , .show-hidden-price
{
    font-size: 60px;
}
.period
{
    font-size: 28px;
}

[class*="pricing-option"]
{
    color: #1f1f1f;
    font-family: 'Karla', sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.42px;
    line-height: 32px;
    padding: 7px 0;
}
.pricing-option-disable
{
    text-decoration: line-through;
    color: #878b90;
}
.pricing-btn
{
    background-color:#1290a4;
    color: #ffffff;
    letter-spacing: -1.12px;
    font-weight: 700;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0px 37px;
}
.pricing-condition
{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.6px;
    line-height: 28px;
    color: #666666;
    margin-bottom: 0;
}
.pricing-extra-info
{
    padding-top: 50px;
    padding-bottom: 120px;
}
.pricing-extra-info>span
{
    color: #878b90;
    margin-right: 10px;
    font-size: 17px;
}
.pricing-extra-info>a
{
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
}
/* FOOTER */
footer
{
    padding: 120px 0 120px 0;
}
.footer-row
{
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.newsletter-section
{
    padding-bottom: 120px;
}
.footer-title
{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}
.footer-description-1
{
    color: #666666;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: -0.4px;
    line-height: 36px;
}
.footer-form
{
    padding-top: 25px;
    margin-bottom: 25px;
}
.email-input
{
    width: 342px;
    height: 60px;
    background-color:#e8f1f3;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
}
.email-btn
{
    width: 177px;
    height: 60px;
    background-color:#1290a4;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin-left: 15px;

}
.data-protected
{
    margin-top: 10px;
}
.data-protected>img
{
    margin-bottom: -4px;
}
/* COMMON INFORMATION */
.common-info-container
{
    padding-top: 80px;

    border-top: 1px solid #424d50;
}
.footer-description-2
{
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.4px;
    line-height: 28px;
    margin-top: 20px;
    
}
.footer-contacts
{
    display: flex;
}
.contact-icon
{
    padding-top: 30px;
    margin-right: 15px;
    margin-left: 15px;
}
.info-list>li>a
{
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.4px;
    line-height: 20px;
    padding-top: 12px;
    padding-bottom: 7px;
    color: #1f1f1f;
}
.info-list>p
{
    margin-bottom: 20px;
    color: #666666;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
}
.info-list>li
{
    display: list-item;
    padding-top: 15px;
    padding-bottom: 15px;
}




/* XS */
@media(max-width:576px)
{
    .col-xs-1
    {
        flex : 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-xs-2
    {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-xs-3
    {
        flex:0 0 25%;
        max-width:25%;
    }
    .col-xs-4
    {
        flex:0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-xs-5
    {
        flex:0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-xs-6
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-xs-7
    {
        flex:0 0 58.33333%;
        max-width:58.33333%;
    }
    .col-xs-8
    {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-xs-9
    {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-xs-10
    {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-xs-11
    {
        flex: 0 0 91.666667%;
        max-width: 91.66667%;
    }
    .col-xs-12
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .container
    {
        max-width: auto;
    }
    .header-row
    {
        justify-content: space-between;
    }
    .registration-form
    {
        flex-wrap: wrap;
    }
    .registration-text-input
    {
        margin-bottom: 20px;
        font-size: 18px;
    }
    .registration-button
    {
        font-size: 22px;
    }
    .registration-row
    {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .main-menu
    {
        display:none;
    }
    
    .hamburger-mobile-menu 
    {
        height: 25px;
        width: 25px;
        display: block;
        position: relative;
    }
    .hamburger-mobile-menu span 
    {
        background-color: #1f1f1f;
        height: 2px;
        position: absolute;
        left: 0;
        right: 0;
    }
    .hamburger-mobile-menu span:nth-child(1)
    {
        top: 3px;
    }
    .hamburger-mobile-menu span:nth-child(2)
    {
        top: 12px;
    }
    .hamburger-mobile-menu span:nth-child(3)
    {
        bottom: 3px;
    }
    .tablet-menu
    {
        top: 70px;
        right: 0px;
    }
    .subscription
    {
        display: none;
    }
    .col-order-1
    {
        order: 1;
    }
    .col-order-2
    {
        order: 2;
    }
    .feature-item
    {
        margin-bottom: 20px;
    }
    .content-row
    {
        flex-wrap: wrap;
    }
    .email-input
    {
        margin-bottom: 20px;
    }
    .common-info-row
    {
        flex-wrap: wrap;
    }
    .hidden-offset
    {
        display: none;
    }
    .registration-button
    {
        width: 100%;
    }
    .info-list
    {
        margin-top: 30px;
    }
    .email-input
    {
        width: 100%;
        font-size: 18px;
    }
    .email-btn
    {
        width: 100%;
        font-size: 22px;
        margin-left: 0px;
    }
}    


/* SM */
@media(min-width:576px)  
{
    .col-sm-1
    {
        flex : 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-sm-2
    {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-sm-3
    {
        flex:0 0 25%;
        max-width:25%;
    }
    .col-sm-4
    {
        flex:0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-sm-5
    {
        flex:0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-sm-6
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-7
    {
        flex:0 0 58.33333%;
        max-width:58.33333%;
    }
    .col-sm-8
    {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-sm-9
    {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-sm-10
    {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-sm-11
    {
        flex: 0 0 91.666667%;
        max-width: 91.66667%;
    }
    .col-sm-12
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .container
    {
        max-width: 540px;
    }
    .header-row
    {
        justify-content: space-between;
    }
    .registration-form
    {
        flex-wrap: wrap;
    }
    .registration-text-input
    {
        margin-bottom: 20px;
        font-size: 18px;
    }
    .registration-button
    {
        font-size: 22px;
    }
    .registration-row
    {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .main-menu
    {
        display:none;
    }
    
    .hamburger-mobile-menu 
    {
        height: 25px;
        width: 25px;
        display: block;
        position: relative;
    }
    .hamburger-mobile-menu span 
    {
        background-color: #1f1f1f;
        height: 2px;
        position: absolute;
        left: 0;
        right: 0;
    }
    .hamburger-mobile-menu span:nth-child(1)
    {
        top: 3px;
    }
    .hamburger-mobile-menu span:nth-child(2)
    {
        top: 12px;
    }
    .hamburger-mobile-menu span:nth-child(3)
    {
        bottom: 3px;
    }
    .subscription
    {
        display: none;
    }
    .col-order-1
    {
        order: 1;
    }
    .col-order-2
    {
        order: 2;
    }
    .feature-item
    {
        margin-bottom: 20px;
    }
    .content-row
    {
        flex-wrap: wrap;
    }
    .email-input
    {
        margin-bottom: 20px;
    }
    .common-info-row
    {
        flex-wrap: wrap;
    }
    .hidden-offset
    {
        display: none;
    }
    .info-list
    {
        margin-top: 30px;
    }
    .email-input
    {
        width: 100%;
        font-size: 18px;
    }
    .email-btn
    {
        width: 100%;
        font-size: 22px;
        margin-left: 0px;
    }
} 
/* MD */
@media(min-width:768px)
{
    .container
    {
        max-width: 720px;
    }
    .col-md-1
    {
        flex : 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-md-2
    {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-md-3
    {
        flex:0 0 25%;
        max-width:25%;
    }
    .col-md-4
    {
        flex:0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-md-5
    {
        flex:0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-md-6
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-7
    {
        flex:0 0 58.33333%;
        max-width:58.33333%;
    }
    .col-md-8
    {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-md-9
    {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-10
    {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-md-11
    {
        flex: 0 0 91.666667%;
        max-width: 91.66667%;
    }
    .col-md-12
    {
        flex: 0 0 100%;
        max-width: 100%;
    }   
    nav.main-menu
    {
        visibility: hidden;
    }
    .hamburger-menu 
    {
        height: 25px;
        width: 25px;
        position: relative;
    }
    .hamburger-menu span 
    {
        background-color: #1f1f1f;
        height: 2px;
        position: absolute;
        left: 0;
        right: 0;
    }
    .hamburger-menu span:nth-child(1)
    {
        top: 3px;
    }
    .hamburger-menu span:nth-child(2)
    {
        top: 12px;
    }
    .hamburger-menu span:nth-child(3)
    {
        bottom: 3px;
    }
    .tablet-menu
    {
        display: block;
    }
    /* REGISTRATION */
    .registration-form
    {
        flex-wrap: wrap;
        
    }

    .registration-description p
    {
        font-size: 20px;
    }
    .registration-text-input
    {
        font-size: 16px;
    }

    .col-order-1
    {
        order:1;
    }
    .col-order-2
    {
        order:2;
    }
    /* FEATURES */
    .features-row
    {
        flex-wrap: wrap;
    }
    .feature-item
    {
        margin-bottom: 30px;
    }
    /* PRICING */
    .pricing-description-item p , .price
    {
        text-align: start;
    }
    .pricing-row
    {
        flex-wrap: wrap;
    }
    /* COMMON INFO */
    .common-info-row
    {
        flex-wrap: wrap;
    }
    .footer-contacts
    {
        margin-bottom: 50px;
    }
    .hidden-offset
    {
        display: none;
    }
    .content-image-2
    {
        margin-left: -50px;
    }
    .email-btn
    {
        width: 100px;
        font-size: 16px;
    }
    .email-input
    {
        width: 250px;
        font-size: 20px;
        margin-right: 15px;
    }
    .subscription
    {
        display: flex!important;
        flex-wrap: nowrap;
    }
    .hamburger-mobile-menu
    {
        display: none;
    }


}  
/* LG */
@media(min-width:992px)
{
    .container
    {
        max-width: 960px;
    }
    .col-lg-1
    {
        flex : 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-lg-2
    {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-lg-3
    {
        flex:0 0 25%;
        max-width:25%;
    }
    .col-lg-4
    {
        flex:0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-lg-5
    {
        flex:0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-lg-6
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-lg-7
    {
        flex:0 0 58.33333%;
        max-width:58.33333%;
    }
    .col-lg-8
    {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-lg-9
    {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-lg-10
    {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-lg-11
    {
        flex: 0 0 91.666667%;
        max-width: 91.66667%;
    }
    .col-lg-12
    {
        flex: 0 0 100%;
        max-width: 100%;
    }  
    .main-menu
    {
        display: block;
        visibility: visible!important;
    } 
    .subscription
    {
        display: flex!important;

    }
    .hamburger-mobile-menu , .hamburger-menu
    {
        display: none;
    }
    .col-order-1
    {
        order: 2;
    }
    .col-order-2
    {
        order: 1;
    }

}
 /*XL*/
 @media(min-width:1200px)
{
    .container
    {
        max-width: 1140px;
    }
    .col-xl-1
    {
        flex : 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-xl-2
    {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-xl-3
    {
        flex:0 0 25%;
        max-width:25%;
    }
    .col-xl-4
    {
        flex:0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-xl-5
    {
        flex:0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-xl-6
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-xl-7
    {
        flex:0 0 58.33333%;
        max-width:58.33333%;
    }
    .col-xl-8
    {
        flex: 0 0 66.66667%;
        max-width: 66.66667;
    }
    .col-xl-9
    {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-xl-10
    {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-xl-11
    {
        flex: 0 0 91.666667%;
        max-width: 91.66667%;
    }
    .col-xl-12
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .hamburger-mobile-menu
    {
        display: none;
    }
    .subscription
    {
        display: flex;
    }
    .col-order-1
    {
        order: 2;
    }
    .col-order-2
    {
        order: 1;
    }
    .email-input
    {
        width: 342px!important;
        height: 60px!important;;

    }
    .email-btn
    {
        width: 177px!important;;
        height: 60px!important;;


    }
    .hidden-offset
    {
        display: block!important;
    }

}    

  


/* SLIDER */

.slider-container
{

    padding-top: 100px;
    padding-bottom: 150px;
}

.slider
{
    padding-left: 50px;
    padding-right: 20px;
    /* border: solid #1290a4 2px; */
}
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 40px;
    line-height: 1;
    opacity: .75;
    color: #1290a4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slider-img
{
    width: 100%;
    height: 100%;
    border: solid #1290a4 3px;
}
.slider-title>p
{
    font-size: 50px;
    color: #1f1f1f;
    font-weight: 700;
    letter-spacing: -5px;
    text-align: center;
    padding-bottom: 20px;
}
/* .slick-prev:before
{
    padding-right: 120px;
} */